body{
  background: skyblue;
}
.btn{
  padding: 7px;
  border-radius: 6px;
  background: plum;
}
.txt-input{
  padding: 7px;
  border-radius: 5px;
  font-size: 14px;
  font-family: sans-serif;
  background: pink;
}
.label{
  font-size: 18px;
  font-family: sans-serif;
}
